/* Navbar */
.main-subpane {
	position: relative;
	width: 100%;
}

/* Carousel */
.main-text-Carousel {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 60px;
	height: 85%;
	z-index: 10;
}
.pane-img {
	background-size: cover;
	min-height: 80vh;
	display: flex;
	align-items: center;
}
.center-pane {
	padding: 60px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	text-align: center;
	height: 100%;
}
.center-pane .pane-title {
	padding-top: 20px;
	padding-bottom: 43px;
	font-size: 48px;
	line-height: 63px;
	font-weight: 900;
	color: #fff;
}
.pane-btn {
	margin-top: 30px;
}
.center-pane .pane-button {
	padding: 5px 40px;
	font-size: 26px;
	border: 2px solid #fff;
	color: #fff;
}
.subtitle-one {
	font-size: 24px;
	color: #fff;
	line-height: 32px;
	font-weight: 500;
}

/* Navigation */
.main-mav {
	width: 100%;
	background-color: #233a59;
	z-index: 99;
	position: relative;
}
.navbarPane {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.mastfooter-nav {
	-webkit-align-items: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	width: auto;
	position: relative;
	z-index: 1000000;
	background-color: #233a59;
}
.mastfooter-nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 58px;
    width: 100%;
    display: flex;
}
.mastfooter-nav-channel {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	border-right: 0.5px solid #cdcdcd;
	border-left: 0.5px solid #cdcdcd;
}
.main-mav .mastfooter-nav-channel:hover {
	background-color: #fff;
}
.mastfooter-nav-channel .mastfooter-channel-name {
	line-height: 60px;
	color: #fff;
}
.main-mav .mastfooter-nav-channel:hover .mastfooter-channel-name {
	color: #000;
}
.mastfooter-channel-name {
	font-family: "Roboto Condensed", Lato, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	width: 100%;
	height: 100%;
}

/* Submenu */
.mastfooter-nav-submenu {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 12px;
}
.main-mav .mastfooter-nav-channel:hover .mastfooter-nav-submenu {
	display: block;
}
.mastfooter-nav-submenu {
	display: none;
	position: absolute;
	bottom: 57px;
	text-align: center;
	width: 100%;
	z-index: 12;
}
.mastfooter-nav-subchannel {
	padding-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
}
.mast-footer-subname {
	padding-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
	font-family: "Roboto Medium", sans-serif;
	color: #fff;
}

/*=== Background Animation ===*/
.cb-slideshow,
.cb-slideshow:after , .slider_container{ 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(src/Img/pattern.png) repeat top left; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 21s linear infinite 0s; 
}


.cb-slideshow li:nth-child(1) span { 
    background-image: url("../Img/1.jpg"); 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url("../Img/2.jpg");
    animation-delay: 3s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url("../Img/3.jpg");
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url("../Img/4.jpg");
    animation-delay: 9s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url("../Img/5.jpg");
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url("../Img/6.jpg");
    animation-delay: 15s; 
}
.cb-slideshow li:nth-child(7) span { 
    background-image: url("../Img/7.jpg");
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(8) span { 
    background-image: url("../Img/8.jpg");
    animation-delay: 21s; 
}

.pane-button{
	cursor: pointer;
}
.slider_container{
	display: none;
}
.slider{
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	height: 725px;
	position: relative;
	overflow-x: hidden;
    overflow-y: hidden;
}
.slider ul{
	display: block;
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.slider ul li{
	height: 100%;
	width: 100vw;
	max-width: 1230px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: hidden;
}

.prev_nav, .after_nav{
	display: block;
	z-index: 99;
	position:absolute;	
	top:85%;
	font-size: 90px;
	color:black !important;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
}
.prev_nav:hover,
.after_nav:hover
{
	text-decoration:none;
}
.prev_nav{	
	left: 2%;	
}
.after_nav{
	right: 4%;	
}

.left-side{
	float:left;
	width:40%;
}
.container{
	margin-top: 70px;
}
.left-side .upsection{
    background-color: #333333;
	padding: 28px;
}

.left-side .upsection h4{
	color: white;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 500;
}
.left-side span{
	background-color: #E2E2E2;
	display: block;
    font-size: 14px;
    padding: 28px;
    line-height: 25px;
}

.after_pointers{
	display: block;
	z-index: 33;
	position: absolute;
	top: 85%;
	width: 100%;
	font-size: 90px;
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
}

.after_pointers span{
	display: inline-block;
	width: 25px;
	border-radius: 30px;
	height: 25px;
	margin: 20px;
	background: rgba(190,190,190,0.5);
	border: 1px solid #747474;
	cursor: pointer;
}
.left-side h3{
	font-size:43px;
	line-height: 52px;
	color:white;
}
.left-side p{
	font-size:14px;
	color:white;
	margin-top: 10px;
	line-height: 25px;
}
.right-side{
	float:right;
	width:60%;
}
.right-side img{
	width: 100%;
	margin-left: 30px;
}

/* DISPALY HEIGHT*/
.hg-t {
	height: 100vh;
}
.hg-m {
	height: 120vh;
}
.hg-s {
	height: 115vh;
}
.hg-xs {
	height: 125vh;
}
.hg-exs {
	height: 150vh;
}

.mastMobile-nav {
	display: none;
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Media */
@media screen and (max-width: 1100px) {
	.prev_nav, 
	.after_nav,
	.after_pointers {
		top: 70%;
		bottom: 0;
	}
}

@media screen and (max-width: 992px) { 
	.navbarPane {
		display: none;
	}  
	.main-text-Carousel {
		padding: 0px;
		height: 100%;
	}
	.center-pane {
		padding: 130px 100px 100px;
		height: 100%;
	}
	/* ==== Slider ==== */
	.left-side{
		float:none;
		width: 100%;
		order:2;
	}
	.right-side{
		float:none;
		width: 100%;
		order:1;
	}
	.container{
		display: flex;
		flex-direction: column;
		margin: 50px 10px 0px;
	}
	.right-side img{
		width: 100%;
		margin-left: 0px;
	}
	/* == */
	.slider ul {
		height: 100%;
	}
	.slider ul li,
	.slider {
		max-width: 768px;
		height: 100%;
	}
	.after_pointers {
		bottom: 0;
	}
	/* Mobile Navigation */
	.mastMobile-nav {
		position: absolute ;
		right: 0;
		z-index: 1;
	    width: 80%;
	}
	.mastMobile-btn {
		height: 58px;
	}
	.mastfooterLogo {
		width: 70%;
		position: absolute;
		top: 0;
	}
	.mastfooterLogotext {
		font-size: 30px;
		color: #fff;
		padding:8px 20px;
		text-align: left;
	}
	.mastfooter-nav-burgericon-menu {
		width: 32px;
		height: 30px;
		position: relative;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}
	.mastfooter-nav-burgericon-menu span {
		background: #cdcdcd;
		display: block;
		height: 3px;
		left: 0;
		opacity: 1;
		position: absolute;
		width: 32px;
		z-index: 4;
	}
	.mastfooter-nav-mobile-sitelogo-wrapper .mastfooter-nav-burgericon-menu span {
		background-color: #fff;
	}
	.mastfooter-nav-burgericon-menu span:nth-child(1) {
		top: 0px;
	}
	.mastfooter-nav-burgericon-menu span:nth-child(2) {
		top: 8px;
	}
	.mastfooter-nav-burgericon-menu span:nth-child(3) {
		top: 16px;
	}
	.Mobile-navbarPane {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
	}
	.Mobile-navbarPane .mastfooter-nav-list {
		display: block;
		height: 100%;
	}
	.mastfooter-nav-mobile-sitelogo-wrapper {
		height: 60px;
	}
	.mastfooter-nav-mobile-sitelogo-wrapper .mastfooter-nav-burgericon-menu span:nth-child(1) {
		top: 10px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.mastfooter-nav-mobile-sitelogo-wrapper .mastfooter-nav-burgericon-menu span:nth-child(2) {
		top: 10px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.mastfooter-nav-submenu {
		display: none;
		background-color: #fff;
		padding: 12px;
	}
	.mastfooter-nav-channel.mastfooter-nav-mobile-sitelogo-wrapper {
		margin-bottom: -3px;
	}
	.mastMobile-nav .mastfooter-nav-channel {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-right: 2px solid #fff;
		border-left: 2px solid #fff;
	}
	.bg-w {
		background-color: #fff;
		border-top: 2px solid #233a59 !important;
		border-bottom: 2px solid #233a59 !important;
		border-right: 2px solid #233a59 !important;
		border-left: 2px solid #233a59 !important; 
	}
	.bg-w.mastfooter-nav-channel a span.mastfooter-channel-name{
		color: #000;
	}
	.mastfooter-nav-submenu {
		display: none;
		position: relative;
		top: 0;
		text-align: center;
		width: 100%;
		border-top: 2px solid #233a59;
	}
	.mast-footer-subname {
		padding-bottom: 10px;
		font-family: "Roboto Condensed", Lato, Arial, sans-serif;
		font-size: 16px;
		font-weight: 700;
		width: 100%;
		height: 100%;
		color: #000;
	}
	/* New */
	.prev_nav, 
	.after_nav,
	.after_pointers {
		top: 85%;
		bottom: 0;
	}
}

@media screen and (max-width: 767px) {  
	.main-text-Carousel {
		padding: 0px;
		height: 100%;
	}
	.center-pane {
		padding: 100px;
		height: 100%;
	}
		/* ==== Slider ==== */
	.slider ul li,
	.slider {
		max-width: 587px;
	}
	.left-side h3{
		font-size:33px;
	}
	.left-side p{
		font-size: 16px;
	}
}

@media screen and (max-width: 586px) {  
	.main-text-Carousel {
		padding: 0px;
		height: 100%;
	}
	.center-pane {
		padding: 40px;
		height: 100%;
	}
		/* ==== Slider ==== */
	.slider ul li,
	.slider {
		max-width: 360px;
	}
	.slider ul{
		height: 755px;
	}
	.after_pointers span {
		margin: 20px 15px;
	}
}
@media screen and (max-width: 374px) {
	.center-pane {
		padding: 20px;
	}
	.center-pane .pane-title {
		padding-top: 0px; 
		padding-bottom: 7px;
		font-size: 34px;
		line-height: 63px;
		font-weight: 900;
		color: #fff;
	}
	.subtitle-one {
		font-size: 18px;
		color: #fff;
		line-height: 32px;
		font-weight: 500;
	}
	.pane-btn {
		margin-top: 16px;
	}
	.center-pane .pane-button {
		font-size: 22px;
	}
	.mastMobile-nav {
	    width: 100%;
	}
	.slider ul li,
	.slider {
		max-width: 300px;
	}
	/* New */
	.after_nav, 
	.prev_nav{
		display: none !important;
	}
}